config softflowd
	option enabled        '0'
	option interface      'br-lan'
	option pcap_file      ''
	option timeout        ''
	option max_flows      ''
	option host_port      ''
	option export_version '9'
	option hoplimit       ''
	option tracking_level ''
	option track_ipv6     '1'
	option sampling_rate  ''
